Wassail-Client-iOS.xcodeproj/xcuserdata/RenKelvin.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcscheme
Wassail-Client-iOS.xcodeproj/project.xcworkspace/xcshareddata/Wassail-Client-iOS.xccheckout
Wassail-Client-iOS.xcodeproj/xcuserdata
*.xcuserstate
